URL,Cert_Principal,Vigencia_Principal,Dias_Principal,Cert_Intermedio,Vigencia_Intermedio,Dias_Intermedio,Cert_CA,Vigencia_CA,Dias_CA,Estado
{% for r in rows %}
{{ r.url }},{{ r.principal_subject | replace(',', ' ') }},{{ r.principal_end | replace(',', ' ') }},{{ r.principal_days }},{{ r.inter_subject | replace(',', ' ') }},{{ r.inter_end | replace(',', ' ') }},{{ r.inter_days }},{{ r.ca_subject | replace(',', ' ') }},{{ r.ca_end | replace(',', ' ') }},{{ r.ca_days }},{{ r.estado }}
{% endfor %}
